/* CSS Geral */
body {
    font-family: "opens Sans" sans-serif;
    background: #0c0b09; /* Cor principal de fundo */
    color: #ececec;
}
a {
    color: #cda45e; /* cores de todos links */
    text-decoration: none; /*  */
}
a:hover {
    color: #d9ba85; /* cor do link ao passar o hover */
    text-decoration: none;
}
h1, h2, h3, h4, h5, h6 {
    font-family: "Playfair Display", serif;
}
